{% extends 'base/base.html' %} {% load social_share %} {% block content %}
{% block title %}
<title>{{ tree_info.scientific_name }} | Tree Database</title>
{% endblock %}


<div class="flex-container">
  <div>
    <h2 class="heading">{{ result }}</h2>

    <div class="tree-brief-info">
      <p class="heading">Location Information</p>
      <div class="caption">
        <p>
          <img
            src="{{ result.tree_picture.url }}"
            height="300"
            alt="{{ genus_specie }} Tree at {{result.location_name}}"
          />
        </p>
        <p>The Tree could be found at: {{ result.location_name }}</p>
        <p>
          Detailed description of the location: {{ result.location_description }}
        </p>
        <p>Tree Health Status: {{ result.health_status }}</p>
        <div>
          Uploaded by:<a
            href="{% url 'home:contributors' %}#{{ result.uploaded_by }}"
          >
            {{ result.uploaded_by }}
          </a>
        </div>
      </div>

      <br />
      <hr />

      <div class="heading">Tree Information</div>
      <div class="tree-meta">
        {% if tree_info.common_name %}
        <div class="meta-item">
          <span class="meta-label">Common Name</span>
          <span class="meta-value">{{ tree_info.common_name }}</span>
        </div>
        {% endif %} {% if tree_info.local_name %}
        <div class="meta-item">
          <span class="meta-label">Local Name</span>
          <span class="meta-value">{{ tree_info.local_name }}</span>
        </div>
        {% endif %} {% if tree_info.authority %}
        <div class="meta-item">
          <span class="meta-label">Authority</span>
          <span class="meta-value">{{ tree_info.authority }}</span>
        </div>
        {% endif %} {% if tree_info.tree_order %}
        <div class="meta-item">
          <span class="meta-label">Order</span>
          <span class="meta-value">{{ tree_info.tree_order }}</span>
        </div>
        {% endif %} {% if tree_info.tree_family %}
        <div class="meta-item">
          <span class="meta-label">Family</span>
          <span class="meta-value">{{ tree_info.tree_family }}</span>
        </div>
        {% endif %} {% if tree_info.conservation_status %}
        <div class="meta-item">
          <span class="meta-label">Conservation Status</span>
          <span class="meta-value">{{ tree_info.conservation_status }}</span>
        </div>
        {% endif %} {% if tree_info.specie_status %}
        <div class="meta-item">
          <span class="meta-label">Species Status</span>
          <span class="meta-value">{{ tree_info.specie_status }}</span>
        </div>
        {% endif %}
        <div class="flex gap-4 mt-6">
          {% if tree_info.pharmacological_details %}
          <a
            href="{% url 'home:pharmacology' tree_info.id %}"
            class="btn btn-primary"
          >
            Pharmacological Details
          </a>
          {% endif %} {% if tree_info.reference %}
          <a
            href="{{ tree_info.reference }}"
            target="_blank"
            class="btn btn-secondary"
          >
            Learn More
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% comment %} <div>
      SHARE PAGE
      <div class="social-links flex">
        <div class="social-link-item flex">
          <i class="fa-brands fa-linkedin"></i>
          {% post_to_linkedin object_or_url %}
        </div>
        <div class="social-link-item flex">
          <i class="fa-brands fa-telegram"></i>
          {% post_to_telegram "Tree: {{tree_info.scientific_name}} at
          {{result.location_name}}" object_or_url
          "Telegram" %}
        </div>
        <div class="social-link-item flex">
          <i class="fa-brands fa-twitter"></i>
          {% post_to_twitter "Tree: {{tree_info.scientific_name}} at
          {{result.location_name}}" object_or_url
          "Twitter" %}
        </div>
        <div class="social-link-item flex">
          <i class="fa-brands fa-whatsapp"></i>
          {% post_to_whatsapp object_or_url "WhatsApp" %}
        </div>
        <div class="social-link-item flex">
          <i class="fa-solid fa-envelope"></i>
          {% send_email "{{tree_info}} Tree" "Here is {{tree_info}} Tree found
          at {{result.location_name}}" object_or_url "Email" %}
        </div>
        <div class="social-link-item flex">
          <i class="fa-brands fa-facebook"></i>
          {% post_to_facebook object_or_url "Facebook" %}
        </div>
        <!-- <div class="social-link-item flex">
        <i class="fa-solid fa-clipboard"></i>
        {% copy_to_clipboard object_or_url "Copy" %}
        {% add_copy_script %}
        </div> -->
      </div>
    </div> {% endcomment %}

    <div id="time-created-updated">
      <p>
        This page was created on: {{ tree_info.created }} and last updated on:
        {{ tree_info.last_updated }}
      </p>
    </div>
  </div>
</div>
{% endblock %}
