{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A database of trees around you. Find information about tree species, their uses, locations, and more."
    />
    <meta name="author" content="Adam Olanrewaju, Dharmzeey" />
    <meta
      name="keywords"
      content="Trees, Tree Species, Plants, Tree Uses, Tree Locations, Tree Database"
    />

    <meta name="application-name" content="Tree Database" />
    <meta name="apple-mobile-web-app-title" content="Tree Database" />

    <meta
      property="og:image"
      content="https://local-trees.dharmzeey.com/static/icons/icon_tree.png"
    />
    <meta
      name="twitter:image"
      content="https://local-trees.dharmzeey.com/static/icons/icon_tree.png"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />

    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'icons/icon_tree.png' %}"
      type="image/jpg"
    />
    {% block title %}
    <title>Tree Database</title>
    {% endblock %}
  </head>

  <body>
    {% if messages %}
    <div style="position: relative" id="pop-up">
      <ul class="message">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <header class="header">
      <div class="container">
        <nav>
          <div class="flex">
            <a href="{% url 'home:home' %}" class="center heading">
              <b class="center heading">TREE DATABASE</b>
            </a>
            <button
              class="btn place-items-center screen-lg-hidden menu-toggle-icon"
              id="menu-toggle-icon"
            >
              <i
                class="ri-menu-3-line open-menu-icon toggle"
                id="open-menu"
              ></i>
              <i
                class="ri-close-line close-menu-icon toggle"
                id="close-menu"
              ></i>
            </button>
          </div>
          <div class="flex">
            <a href="{{ request.META.HTTP_REFERER }}">BACK</a>
            <a href="{% url 'home:home' %}">HOME</a>
          </div>
        </nav>

        <aside id="aside" class="menu">
          {% if request.user.is_authenticated %}
          <div class="user-pic">
            <a href="{% url 'user:update' %}">
              <img src="{{ request.user.picture.url }}" alt="profile" />
            </a>
            <p>Profile</p>
          </div>
          {% endif %}

          <ul class="flex">
            <li>
              <button class="btn place-items-center" id="theme-toggle-btn">
                <i class="ri-sun-line sun-icon"></i>
                <i class="ri-moon-line moon-icon"></i>
              </button>
            </li>
            <li>
              <a href="{% url 'home:acknowledgement' %}">Acknowledgement</a>
            </li>
            <li><a href="{% url 'home:contributors' %}">Contributors</a></li>
            <li><a href="{% url 'special:special' %}">Special Places</a></li>
            <li><a href="{% url 'home:tree_album' %}">Tree Album</a></li>
            <li><a href="{% url 'home:how_to_use' %}">How to use</a></li>
            <li><a href="{% url 'treerequest:treerequest' %}">Request</a></li>
            <li><a href="{% url 'home:about' %}">About</a></li>

            {% if request.user.is_authenticated and request.user.is_staff %}
            <li>
              <a href="{% url 'treerequest:requests' %}">View Requests</a>
            </li>
            <li id="upload_options">
              <a href="{% url 'upload:upload' %}">
                Upload Tree <span id="demarcate"> &nbsp;|&nbsp;</span></a
              >
              <a href="{% url 'special:upload' %}"> Upload Special </a>
            </li>
            {% endif %} {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a> {% else %}</li>

            <li><a href="{% url 'user:login' %}">Login</a></li>
            {% endif %}
          </ul>
        </aside>
      </div>
    </header>

    <div class="flex page-content">
      <div>
        <div class="base-block-content">{% block content %} {% endblock %}</div>
      </div>

      <footer id="base-footer">
        <section id="section-count">
          <div>
            <small>
              <span>Total Inventory as at: </span>
              <span id="inventory">{{ request.session.time }}</span>
              <span>are:</span>
              <span>{{ request.session.counter }}</span>
              <span>Trees</span>
            </small>
          </div>
        </section>
      </footer>
    </div>

    <script
      type="text/javascript"
      src="{% static 'js/Dharmzeey.js' %}"
    ></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  </body>
</html>
